<style>
  /* =================================================================
    --- ESTILOS ESPECÍFICOS PARA ARTÍCULOS ---
================================================================= */
  .reorder-flag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: 500;
  }
  .reorder-yes {
    background-color: rgba(231, 76, 60, 0.15);
    color: var(--danger-color);
  }
  .reorder-no {
    background-color: rgba(46, 204, 113, 0.15);
    color: var(--success-color);
  }
  /*tabla de notificaciones */
  .table-container th {
    background-color: var(--khaki-green);
    color: var(--text-color-dark);
    font-weight: 700;
  }
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
</style>
