<div class="content">
    <button id="toggleSidebarBtn">
      <ion-icon name="menu-outline"></ion-icon>
    </button>
  <h2>Usuario</h2>
  <button class="btn-agregar" onclick="abrirModalAgregarUsuario()">+ Agregar Usuario</button>
  <div>
    <input type="text" id="buscarUsuario" onkeyup="buscarPorNombreUsuario()" placeholder="Buscar Usuario...">
  </div>
  <div id="sortContainer">
    <img class="calendario" src="https://i.ibb.co/4gWJ1s4c/Intouch-Icons-Calendar.png" alt="Intouch-Icons-Calendar" border="0">
    <i class="fas fa-sort sort-menu-icon" onclick="ordenarPorFechaUsuario(event)"></i>
    <div id="sortOptions" class="sort-options">
      <a href="#" onclick="ordenarAscendenteUsuario(); return false;">Ascendente</a>
      <a href="#" onclick="ordenarDescendenteUsuario(); return false;">Descendente</a>
    </div>
  </div>
    <div id="modalAgregarUsuario" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Agregar Usuario</h3>
        <span class="close" onclick="cerrarModalAgregarUsuario()">&times;</span>
      </div>
      <form id="agregarUsuarioForm">
        <label for="nombreCompletoAgregarUsuario"> Nombre Completo *:</label>
        <input type="text" id="nombreCompletoAgregarUsuario" required>

        <label for ="userNameAgregarUsuario"> Nombre de Usuario * </label>
        <input type="text" id="userNameAgregarUsuario" required>

        <label for="passwordAgregarUsuario"> Contraseña *:</label>
        <input type="password" id="passwordAgregarUsuario" required>

        <label for="cdeAgregarUsuario"> CDE :</label>
        <input type="number" id="cdeAgregarUsuario" >

        <label for="emailAgregarUsuario"> Email *:</label>
        <input type="text" id="emailAgregarUsuario" required>

        <label for="rolAgregarUsuario">Rol:</label>
        <select id="rolAgregarUsuario" name="rolAgregarUsuario">
          <option value="Usuario">Usuario</option>
          <option value="Admin">Admin</option>
          </select>

<button type="submit" class="submit-btn">Guardar Usuario</button>
      </form>
    </div>
  </div>
    <div id="modalEditarUsuario" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Modificar Usuario</h3>
        <span class="close" onclick="cerrarModalEditarUsuario()">&times;</span>
      </div>
      <p>ID de Usuario: <span id="usuarioIdEditarUsuario"></span></p>
      <form id="editarUsuarioForm">
        <label for="nombreCompletoEditarUsuario">Nombre Completo *:</label>
        <input type="text" id="nombreCompletoEditarUsuario" required>

        <label for="userNameEditarUsuario">Nombre de Usuario *:</label>
        <input type="text" id="userNameEditarUsuario" required>

        <label for="passwordEditarUsuario">Password *:</label>
        <input type="password" id="passwordEditarUsuario" required>

        <label for="cdeEditarUsuario">CDE:</label>
        <input type="number" id="cdeEditarUsuario">

        <label for="emailEditarUsuario">Email *:</label>
        <input type="text" id="emailEditarUsuario" required>

        <label for="rolEditarUsuario">Rol *:</label>
        <input type="text" id="rolEditarUsuario" required>

          <button type="submit" class="submit-btn">
          <span><ion-icon name="cloud-upload-outline"></ion-icon></span> Guardar Cambios</button>
      </form>
    </div>
  </div>


 <div id="loadingOverlayUsuario"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 20px;">
      Cargando... <i class="fas fa-spinner fa-spin"></i>
    </div>
  </div>

  <table id="UsuarioTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>NombreCompleto</th>
        <th>UserName</th>
        <th>Password</th>
        <th>CDE</th>
        <th>Email</th>
        <th>Estado Usuario</th>
        <th>Rol</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="tablaUsuarioBody">
    </tbody>
  </table>
  <div id="usuarioPagination"></div>

  <div id="mensajeConfirmacionUsuario" class="mensaje-confirmacion" style="display:none;">
    <span></span>
    <button onclick="cerrarMensajeUsuario()">Cerrar</button>
  </div>
</div>