<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <?!= include("View/Css/Css_HomeContent.html"); ?>
  </head>

  <body>
    <div id="dash-container">
      <div class="dash-header">
        <h2>Resumen General</h2>
        <p>Métricas clave del inventario.</p>
      </div>

      <div class="dash-kpi-row">
        <div class="dash-kpi-card">
          <h3><i class="fas fa-box-open"></i>Productos Totales</h3>
          <h2 id="total-productos">0</h2>
        </div>
        <div class="dash-kpi-card">
          <h3><i class="fas fa-check-circle"></i>Unidades Disponibles</h3>
          <h2 id="total-unidades-disponibles">0</h2>
        </div>
        <div class="dash-kpi-card">
          <h3><i class="fas fa-times-circle"></i>Unidades Agotadas</h3>
          <h2 id="total-unidades-agotadas">0</h2>
        </div>
        <div class="dash-kpi-card">
          <h3><i class="fas fa-calendar-times"></i>Stock > 8 Meses</h3>
          <h2 id="total-stock-mas-8meses">0</h2>
        </div>
      </div>

      <div class="dash-charts-row">
        <div class="dash-chart-card">
          <h3>Total de Productos por Categoría</h3>
          <div id="bar-chart-container"></div>
        </div>
        <div class="dash-chart-card">
          <h3>Unidades Disponibles por Categoría</h3>
          <div id="pie-chart-container"></div>
        </div>
      </div>
    </div>
    <?!= include("View/Js/Js_HomeContent.html"); ?>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        google.script.run
          .withSuccessHandler(updateDashboard)
          .obtenerDatosDashboard();
      });
    </script>
  </body>
</html>
